:root {
    --main-color: #212121;
    --sec-color: #2196F3;
    --third-color: #757575;
    --back-color: #ffffff;
    --link-color: #F5F4FA;
    --address-color: rgba(255, 255, 255, 0.6);
    --footer_color: #2F303A;
    --shadow_color: rgba(0,0,0,0.1);
    --modal_color:rgba(0, 0, 0, 0.2);
    --border_color: #ECECEC;
    --border2-color: #EEEEEE;
    --border3-color:#AFB1B8;
    --hover-color-2:rgba(255, 255, 255, 0.1);
    --back-transparency: rgba(47, 48, 58, 0.8);
    --blue-portofolio:rgba(33, 150, 243, 0.9);
    --input-border: rgba(255, 255, 255, 0.3);
    --input-form-border:rgba(33, 33, 33, 0.2);
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin:0px;
}

.unstyled-list {
    list-style: none;
}

.unstyled-list-footer {
    list-style: none;
    padding:0px;
    margin:0px;
}

.page-header {
    background-color: var(--back-color);
}

.main-section {
    background-color: var(--back-color);
}

.link, .link2 {
    color:var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link2:hover{
    color: var(--sec-color);
}

.menu-place{
    position:relative;
}

.menu-place a::after{
    content: '';
    border: 2px solid var(--sec-color);
    width: 100%;
    position: absolute;
    bottom: -22px;
    border-radius: 2px;
    visibility:visible;
    left: 0;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .menu-place a:focus::after {
    visibility: visible;
  } */

.contact-group{
	background-color: var(--back-color);
	display: flex;
    gap:10px;
	justify-content: center;
	align-items: center;
    /* padding: 16px 32px 16px 32px; */
}


.contact-element{
    padding: 0px 0px 6px 0px;
}
.contact-element a svg:hover{
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:var(--sec-color);
}
.contact-group:hover{
    color: var(--sec-color);
    fill:var(--sec-color);
}

.regular-customers-outline:hover{
    fill:var(--sec-color);
    border-color: var(--sec-color);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-head {
    color: var(--third-color)
}

.page-title {
    font-family: 'Raleway';
    font-style: normal;
    line-height: 31px;
    font-size: 26px;
    text-decoration: none;
    color: var(--sec-color);
}

.title-black {
    color: var(--main-color);
}

.title-white{
    color: var(--back-color)
}

.page-button {
    height: 38px;
    background: var(--link-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 6px 22px 6px 22px;
    text-align: center;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-button:hover{
    background-color: var(--sec-color);
    color:var(--back-color) ;
    box-shadow:   0px 2px var(--shadow_color);
}


.page-button-name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.portofolio-frame{
    position:relative;
    overflow: hidden;
    cursor: pointer;
}

.elements-list li{
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid var(--border2-color);
}

.elements-list li:hover{
    /* transition:  250ms cubic-bezier(0.4, 0, 0.2, 1); */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portofolio-frame:hover .blueoverlay{   
    transform: translateY(-8px);
}

.portofolio-image {
    width: 370px;
    height: 294px;
}

.blueoverlay {
    width:370px;
    height: 294px;
    top:8px;
    position: absolute;
    overflow: hidden;
    background: var(--blue-portofolio);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.blueoverlay p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--back-color);
    padding: 64px 24px 91px 24px;
}

/* .port-order{
    position:absolute;
} */

.test_2{
    height: 110;
    width: 370;
    background-color:var(--back-color);
}


.portofolio-title {
    background-color: var(--back-color);
    position:relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin:0px;
    padding:20px 0px 0px 24px;
    /* bottom:0px; */
}

.portofolio-type {
    background-color: var(--back-color);
    position:relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--third-color);
    margin:0px;
    padding:4px 0px 0px 24px;
}

.address-street {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    color: var(--back-color)
}

.address-mail {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    color: var(--address-color)
}

.address-phone {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    color: var(--address-color)
}

.container{
    width:1200px;
 margin: 0px auto;
}

.container-header{
    background-color:var(--back-color);
}



.container-hero{
    background-image:
    linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
    url("../images/hero_image.jpg");
    background-size: cover;
    background-position: 50% 50%;
    /* max-width: 1600px; */
    margin: 0px auto;
}

.container-team{
    background-color:var(--link-color);
}
.container-footer{
    background-color:var(--footer_color);
}

.section{
    width: 1200px;
    margin:auto;
    padding: 0px, 94px;
}

.head-section{
    width:100%;
    background-color: blue;
}
.page-header{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid var(--border_color);
    color: var(--main-color);

}

.index-title{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.index-type{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-color);
    margin:10px 0px 0px 0px;
}

.main-menu
{
    display: flex;
    align-items:center;
    gap: 50px;
    padding:0;
}

.info-menu{
    display:flex;
    align-items:center;
    gap:40px;
    margin:0px 0px 0px auto;
    padding: 0;
}

.info-menu{
    padding: 10px 0px 0px 0px;
}

.site-name{
    margin:24px 93px 25px 15px;
}

.hero-section{
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    /* opacity: 1;
    filter:brightness(100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header{

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--back-color);
    margin: 0px;
    padding-top:200px;
    margin-bottom: 30px; 
}

.first-page-button{

    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--sec-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--back-color); 
    padding: 10px 19px 10px 20px;
    cursor: pointer;
}

.studio-q{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
    margin:0px;
    padding:94px 0px;
}

.studio-q-image{
    width: 270px;
	height: 120px;
	background-color: var(--link-color);
	border-radius:  4px;
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 0px 0px 30px 0px;
}

.what-we-do,
.our-team,
.regular-customers
{
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin: 0px 0px 50px 0px;
}

.regular-customers{
    padding:94px 0px 0px 0px;
}

.what-photos{
    /* box-sizing: border-box;
    height: 294px; */
    display: flex;
    justify-content: space-between;
    gap:30px;
    margin:0px;
    padding:0px 0px 94px 0px;
}

.wwd-item{
    margin:0px;
    box-sizing: border-box;
    width:auto;
    height:auto;
    position: relative;
}

/* .index-image{
    height: 294px;
    width: 370px;
} */

/* .what-image{
    display: block;
} */

.wwd-item > .what-text{
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    bottom: 6px;
    width: 370px;
    height: 70px;
    font-family: sans-serif;
    background-color: var(--back-transparency);
    color: var(--back-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 27px 0px 27px 0px;

}

.team-photos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
    margin:0px;
    padding: 0px;
}

.team-section{
    box-sizing: border-box;
    width: 100%;
    height: 708px;
    background-color: var(--link-color);
    padding: 94px 0px;
    margin:0px auto;
}

.team-member{
    box-sizing: border-box;
    width: 270px;
    height: 428px;
    left: 215px;
    top: 1635px;
    background: var(--back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team-type{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-color);
}

.social-media-icons{
	display: flex;
	justify-content: center;
	gap:10px;
}

.social-media-icons ul{
	display: flex;
	gap:10px;
	justify-content: center;
}

.icon-list-item{
	width:44px;
	height: 44px;
	background-color: var(--back-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    fill:var(--sec-color);
    cursor: pointer;
    padding:0px;
}

.icon-list-item:hover{
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:red;
	background-color: var(--sec-color);
}

.icon-control{
    fill:var(--third-color);
}

.icon-control:hover{
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:var(--back-color);
}

.regular-customers-logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
    margin:0px;
    padding:0px 0px 94px 0px;
}

.regular-customers-outline{
    width: 106px;
	height: 60px;
	background-color: var(--back-color);
	border-radius:4px;
    border-style:solid;
    border-width: 1px;
    border-color: var(--border3-color);
	display: flex;
	justify-content: center;
	align-items: center;
    fill:var(--border3-color);
    padding: 16px 32px 16px 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-outline:hover{
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    fill:var(--sec-color);
    border-color: var(--sec-color);
    cursor: pointer;
}

.logo-footer{
    margin:0px;
}

.address-footer{
    margin:0px;
    padding:0px;   
}

.page-footer {
    box-sizing: border-box;
    height: 251px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    gap:70px;
    padding: 60px 0px 60px 0px;
}

.footer-address{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:28px;
    padding: 60px 0px 60px 0px;
}

.footer-social{
    box-sizing: border-box;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-footer-text{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--back-color);
    padding:15px 0px 0px 0px;
    margin:0px;
}



.select-buttons{
    display: flex;
    gap:8px;
    justify-content: center;
    padding: 94px 0px 0px 0px;
    margin:0px;
}

.elements-list{
    box-sizing: border-box;
    width:1200px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    margin:0px;
    padding:50px 0px 94px 0px;
}

.elements-list li{
    overflow: hidden;
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    padding: 0px;
    margin:0px;
}


.icon-list-footer{
	width:44px;
	height: 44px;
	background-color: var(--hover-color-2);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    fill:var(--sec-color);
    cursor: pointer;
    padding:0px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list-footer:hover{
    fill:red;
	background-color: var(--sec-color);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-control-footer{
    fill:var(--back-color);
}

.backdrop{
    background: var(--modal_color);
    position:fixed;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99;
    opacity:1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal{
    position: absolute;
    width: 528px;
    height: 581px;   
    background: var(--back-color);
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    
    /* transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); */
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    /* transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); */
}

.close-w{
    border-radius: 50%;
    border-style:solid;
    border-width: 1px;
    border-color: var(--shadow_color);

    padding: 9px 9px 10px 10px;

    position:absolute;
    top: 8px;
    right:8px;
    cursor:pointer;
}

.close-w:hover{
    fill:blue;
}

.form-elements{
    padding:40px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.footer-subscribe{
    flex-grow:1;
}

.subscription-email{
    padding: 20px 0px;
    flex-grow:1;
}

.subscription-email input{
    width: -webkit-fill-available;
    background: transparent;
    color:var(--address-color);
    border: 1px solid var(--input-border);
    outline:none;

    padding:15px;
    margin-right: 15px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscription-email input::placeholder{
    color: var(--address-color);
}

.subscription-email input:focus{
    background-color: var(--footer_color);
}

.subscribe-button{
    width: 200px;
    height: 50px;

    background: var(--sec-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:none;
    border-radius: 4px;

    color: var(--back-color); 
    padding: 10px 19px 10px 20px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    position:relative;
}

.send-button{
    width: 200px;
    height: 50px;

    background: var(--sec-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:none;
    border-radius: 4px;

    color: var(--back-color); 
    padding: 10px 19px 10px 20px;
    margin-left: 124px;
    margin-top: 20px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.send-icon{
    position:absolute;
    fill:var(--back-color);
    top:13px;
    right: 28px;
}

.subscription-data{
    display:flex;
    align-items: center;
    
}

.subscribe-text{
    position:absolute;
    margin:0px;
    top:10px;
    left:43px;
}

.send-text{
    margin:0px;
}

.form-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin:0px 0px 12px 0px;
}

.form-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    display: flex;
    flex-direction: column;
    gap: 4px;

    position:relative;
}

.contact-form .form-item:focus-within{
    fill: blue;
    outline: none;
    --input-form-border: blue;
}

.form-input:focus-visible,
.form-input-text:focus-visible {
    outline: none;
}

input.form-input:focus {
    border: 1px solid var(--sec-color);
}

.form-svg{
    position:absolute;
    top:33px;
    left:15px;
}

textarea.form-input-text::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkedsvg{
    position:absolute;
    fill:var(--back-color);
}

.form-input{
    padding:0px 0px 0px 40px;
    line-height:40px;
    border: 1px solid var(--input-form-border);
    border-radius: 4px;
}

.form-check{
    display: flex;
    gap:8px;
    justify-content: center;
    position:relative;
    
}

.form-input-text{
    padding:12px;
    resize: none;
    height: 100px;
    border: 1px solid var(--input-form-border);
    border-radius: 4px;
}

.input-mail{
    /* position:absolute; */
    margin:0px;
}

.contact-form input[type="checkbox"]{
    display: none;
}

.terms{
    color:#2196F3;
    text-decoration: underline;
}

.replace-checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 2px;
}

.contact-form input[type="checkbox"]:checked+.replace-checkbox{
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}

.contact-form input[type="checkbox"]:checked+.replace-checkbox svg{
    opacity: 1;
}

.agree{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-color);

    margin:0px;
}


/* .close-w use{
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
} */


/* *{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */